h1{color: #A0204C;
font-size: 50px;
font-family: 'Anton', sans-serif;}

div{background-color: #FF6C00;
text-align: center;
margin:100px;
border: solid 10px white;
box-shadow: 8px 8px 8px #A2EF44}

body{background-color: #282D4F;}

p{font-weight: lighter;
font-family: 'Lato', sans-serif;
}

#ImgBordeaux {width: 600px}
img{width: 500px}